mat-card {
    width: 400px;
    margin: 20px;
  }
  mat-card-title {
    font-size: 35px;
    font-weight: bold;
  }
  mat-card-content {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
  }
  